{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Blogs{% endblock %}

{% block content %}
<h1>Lista de Blogs</h1>
<ul>
    {% for blog in blogs %}
        <li>
            <h2>{{ blog.title }}</h2>
            <p>Usuario: {{ blog.author.username }}</p> 
            <a class="green-button" href="{% url 'page_detail' blog.id %}">Ver detalles</a> 
            {% if user.is_authenticated and user == blog.author %}
                <form action="{% url 'delete_blog' blog.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button class="red-button" type="submit">Eliminar</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}