{% extends 'blog/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="create-blog-container">
    <h2 class="create-blog-heading">{% trans 'Crear un nuevo blog' %}</h2>
    <form class="create-blog-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">{% trans 'Título' %}:</label>
            <br>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="id_subtitle">{% trans 'Subtítulo' %}:</label>
            <br>
            {{ form.subtitle }}
        </div>
        <div class="form-group">
            <label for="id_body">{% trans 'Cuerpo' %}:</label>
            <br>
            {{ form.body }}
        </div>
        <div class="form-group" style="margin-bottom: 10px;">
            <label for="id_image">{% trans 'Imagen' %}:</label>
            <br>
            {{ form.image }}
        </div>
        <div class="form-group">
            <label for="id_image" class="green-button">Elegir archivo</label>
        </div>
    </div>
        <button class="create-blog-button green-button" type="submit">{% trans 'Crear blog' %}</button>
    </form>
</div>
<style>
    .form-group {
        margin-bottom: 20px; 
    }
</style>
{% endblock %}